<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:fragment="fragment" th:remove="tag">

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- include css in the header -->
    <link href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link href="../../static/css/custom.css" th:href="@{css/custom.css}" rel="stylesheet" />

</head>
<body  th:fragment="navbar" th:remove="tag">
<nav  class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <a class="navbar-brand" href="#">Web-Panel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="plugins">plugins</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="h2-console">h2-console</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/log">log</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/system">system</a>
            </li>

        </ul>
    </div>
</nav>
</body>
</html>



