<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet" />
    -->

    <div th:replace="fragments/fragment :: fragment"></div>
    <title>WebPanel</title>

</head>

<body>
<div th:replace="fragments/navbar :: navbar "></div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-2">Installierte Plugins</h1>
        <!--
        <p class="lead">This is the administration panel for your Voice Assistant-</p>
        -->
        <p></p>
        <table>
            <th:block th:each="voiceCommand : ${voiceCommands}">
                <tr>
                    <button th:text="${voiceCommand.toPrettyString()}"
                            type="button"
                            class="btn btn-primary plugin-button">${voiceCommand.toPrettyString()}</button>
                </tr>
            </th:block>
        </table>
    </div>





</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>